@import "../../sass/variables";

.project {
    padding: 5% 5% 0 5%;
    border-radius: $radius;
    cursor: pointer; 
    transition: $transition;

    &-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: $transition;
        .project-action {
            padding: 5px;
            border-radius: $radius;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0;
            transition: $transition;
        }
        .project-action:hover {
            background: darken($bg, 10%);
            transition: $transition;
        }
    }

    &-card {
        border: 1px dashed $grey-10;
        width: 100%;
        padding: 0 !important;
        height: 8em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 5px !important;
        transition: .5s;
        overflow: hidden !important;

        .project-title {
            position: absolute;
            bottom: 1em;
            -webkit-animation: slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .project-description {
            width: 90%;
            text-align: center;
            margin-top: 2em;
            opacity: 0;
            transition: .4s;
            line-height: 1em;
        }
    }
}

.project:hover {
    background-color: darken($bg, 3%) !important;
}
.project:hover .project-actions {
    opacity: 1;
    transition: 0.5s;
}

.project:hover .project-card {
    .project-title {
        -webkit-animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .project-description {
        opacity: 1;
        transition: 1s;
    }
}
@-webkit-keyframes slide-in {
    0% {
        bottom: 1em;
    }
    100% {
        bottom: 1.8em;
    } 
  }
  @keyframes slide-in {
    0% {
        bottom: 1em;
    }
    100% {
        bottom: 1.8em;
    }
  }
@-webkit-keyframes slide-out {
    0% {
        bottom: 1.8em;
    }
    100% {
        bottom: 1em;
    } 
  }
  @keyframes slide-out {
    0% {
        bottom: 1.8em;
    }
    100% {
        bottom: 1em;
    }
  }
