@import "../../sass/variables";

.menu {
    height: 96vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    &-navigation {
        width: 8vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-item {
        height: 3.3vw;
        width: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: $radius;
        transition: $transition;
        margin-bottom: $space-05;

        &:hover {
            background-color: $primary-30;
            color: $primary;
        }
    }
}

.menu-item.active {
    background-color: $primary-20;
    width: 6vw;
    border-radius: 0;
    position: relative;
    border-radius: $radius;

    &::after,
    &::before {
        position: absolute;
        content: "";
        border-radius: $radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &::after {
        background-color: $primary-20;
        height: 100%;
        z-index: 9;
        right: -1vw;
        width: 100%;
    }
    &::before {
        background-color: $bg;
        height: 70%;
        z-index: 10;
        right: -2vw;
        width: 7.5vw;
    }

    &.icon {
        svg, path {
            color: $primary-50 !important;
            z-index: 20;
        }
    }
}

.menu-item-success:hover {
    background-color: $success-30;
}
.menu-item-success.active {
    background-color: $success-20;
    &::after {
        background-color: $success-20;
    }
    &.icon {
        svg, path {
            color: $success-50 !important;
            z-index: 20;
        }
    }
}

.menu-item-danger:hover {
    background-color: $danger-30;
}
.menu-item-danger.active {
    background-color: $danger-20;
    &::after {
        background-color: $danger-20;
    }
    &.icon {
        svg, path {
            color: $danger-50 !important;
            z-index: 20;
        }
    }
}
