@import "../../sass/variables";

.custom-card {
    padding: 20px;
    position: relative;
    border-radius: $radius;
    background-color: $dark;

    &-primary {
        background-color: $primary;
    }
    &-success {
        background-color: $success;
    }
    &-danger {
        background-color: $danger;
    }
    &-ghost {
        background-color: white;
    }
}
