@import "../../sass/variables";

.tag {
    border-radius: $radius;
    padding: 3px $space-03;
    width: max-content;
    color: white;
    font-size: $text-00;
    margin-top: $space-03;

    &-primary {
        background-color: $primary;
    }
    &-danger {
        background-color: $danger;
    }
    &-success {
        background-color: $success;
    }
}
