@import "../../sass/variables";

.hero {

    &-title {
        // font-family: $font-secondary;
        color: white;
    }
    &-subtitle {
        color: white;
        max-width: 25em;
        font-size: 18px;
    }

    &-link {
        cursor: pointer;
        color: inherit;
        &:hover {
            color: $dark;
        }
    }
}

