@import "../../sass/variables";

.projects {
    overflow: hidden !important;

    &-col {
        transition: $transition;
    }

    &-sidebar {
        background: white;
        height: 100vh;
        padding: $space-05;
    }
}
